
.ui-slider-horizontal {
    height: .6em;
}
.ui-slider-horizontal {
    margin-bottom: 15px;
    width:87%;  /*전체바 길이조절*/
}
.ui-widget-header {
    background: #48a9ed;
}
#slider-range > span:focus {
    outline: none;
}
#slider-range {
    border: none;
    background-color: #c5c5c5;
    position: relative;
    margin: 20px 10px 15px 10px;
}
.ui-state-default {
    border-color: #c5c5c5 !important;
    background: #f6f6f6 !important;
}

.price-range-field{
    width:37%;
    min-width: 16%;
    background-color:#f9f9f9;
    border: 1px solid #6e6666;
    color: black;
    font-size: 12px;
    border-radius: 3px;
    padding:5px;
    margin-top: 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
#min_price {
    margin-right: 5px;
}
#max_price {
    margin-left: 5px;
}