.stay_info_area {
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.stay_info {
    display: inline-block;
    width: 50%;
}


.stay_contents_area {
    position: relative;
}
.stay_contents {
    width: 100%;
    min-height: 300px;
    position: absolute;
    background-color: #fff;
    top: 100px;
}
.stay_contents > div {
    background-color: #fff;   
}
.stay_content_title {
    position: absolute;
    display: inline;
    top: -100px;
}
#room_detail_title {
    left: 10px;
}
#stay_position_title {
    left: 110px;
}
#stay_review_title {
    left: 210px;
}
.rooms_detail_area {
    z-index: 10;
}

.target {
    color: #f66;
}