.rate-area {
    float:left;
    border-style: none;
}

.rate-area:not(:checked) > span {
    float: right;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 20px;
    line-height: 32px;
    color: lightgrey;
    margin-bottom: 10px !important;
}
.rate-area:not(:checked) > span:nth-child(2n+1) {
    display: inline-block;
    position: relative;
    left: 10px;
}
.rate-area > span.checked ~ span {
    color: rgb(255, 204, 0);
    text-shadow: none;
}

.rate-area:not(:checked) > span:hover,
.rate-area:not(:checked) > span:hover ~ span {
    color: rgb(255, 204, 0);
}

.rate-area > span.checked + span:hover,
.rate-area > span.checked + span:hover ~ span,
.rate-area > span.checked ~ span:hover,
.rate-area > span.checked ~ span:hover ~ span,
.rate-area > span:hover ~ span.checked ~ span {
    color: rgb(255, 204, 0);
    text-shadow: none;
    
}

.rate-area > label:active {
    position:relative;
    top:0px;
    left:0px; 
}
